/* IDK WHY THIS ISN'T BEING IMPORTED, HALP */

/* Fonts */
/* Google Fonts are free fonts that you are able to access and use in your code */
/* Note the use of the @import tag, since it's a CSS file */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Source+Code+Pro:wght@200&display=swap');

/* Global Styles */
/* This applies to all the pages that ever render. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
